/*-- Variables para las fuentes y colores de letra y fondo --*/
$orange: #e55934;
$cream: #eff6ee;

$maygreen: #2e933c;
$darkgreen: #296045;
$deepgreen: #204e4a;

$verdes: ($maygreen, $darkgreen, $deepgreen);

$letra: 'Raleway';
$t-letra: 1rem;
$peso-cuerpo: 300;
