body {
    background-color: whitesmoke;
}

.profile {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 1.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background-color: #563d7c;
    color: white;
    font-weight: bolder;
    box-shadow: 0 10px #999;
}

button:active {
    box-shadow: 0 4px #666;
    transform: translateY(6px);
}